<ion-header>
  <ion-toolbar color="danger">
    <ion-title><b>Pratos</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-radio-group>
        <ion-item>
          <ion-radio (click)="getBatata(); abrirModal()" slot="start"></ion-radio>
          <ion-label>{{pratos[0].nome}}: R$ {{pratos[0].valor}}</ion-label>
          <ion-img src="assets/img/batata.jpg"></ion-img>
        </ion-item>

        <ion-item>
          <ion-radio (click)="getPolenta(); abrirModal()" slot="start"></ion-radio>
          <ion-label>{{pratos[1].nome}}: R$ {{pratos[1].valor}}</ion-label>
          <ion-img src="assets/img/polenta.jpg"></ion-img>
        </ion-item>


        <ion-item>
          <ion-radio (click)="getPratoCarne(); abrirModal()" slot="start"></ion-radio>
          <ion-label>{{pratos[2].nome}}: R$ {{pratos[2].valor}}</ion-label>
          <ion-img src="assets/img/pratocarne.jpg"></ion-img>
        </ion-item>

        <ion-item>
          <ion-radio (click)="getPratoFrango(); abrirModal()" slot="start"></ion-radio>
          <ion-label>{{pratos[3].nome}}: R$ {{pratos[3].valor}}</ion-label>
          <ion-img src="assets/img/pratofrango.jpg"></ion-img>
        </ion-item>

        <ion-item>
          <ion-radio (click)="getPratoPeixe(); abrirModal()" slot="start"></ion-radio>
          <ion-label>{{pratos[4].nome}}: R$ {{pratos[4].valor}}</ion-label>
          <ion-img src="assets/img/peixe.jpg"></ion-img>
        </ion-item>
      </ion-radio-group>
  </ion-list>

  <ion-button color="danger" href="/home">
    <ion-icon name="arrow-undo-outline">
    </ion-icon>
    Voltar
  </ion-button>
</ion-content>
