<ion-header>
  <ion-toolbar color="danger">
    <ion-title><b>Lanches</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>X-Salada: R$ 20,00</ion-label>
      <ion-img src="assets/img/xissalada.jpg"></ion-img>
    </ion-item>

    <ion-item>
      <ion-label>Cachorro Quente: R$ 15,00</ion-label>
      <ion-img src="assets/img/cachorroquente.jpg"></ion-img>
    </ion-item>

    <ion-item>
      <ion-label>Pizza: R$ 35,00</ion-label>
      <ion-img src="assets/img/pizza.jpeg"></ion-img>
    </ion-item>

    <ion-item>
      <ion-label>Calzone: R$ 10,00</ion-label>
      <ion-img src="assets/img/calzone.jpg"></ion-img>
    </ion-item>

    <ion-item>
      <ion-label>Pastel: R$ 10,00</ion-label>
      <ion-img src="assets/img/pastel.jpeg"></ion-img>
    </ion-item>
  </ion-list>
  
</ion-content>
