<ion-header>
  <ion-toolbar color="danger">
    <ion-title><b>Sobremesas</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-radio-group>
        <ion-item>
          <ion-radio (click)="getPudim(); abrirModal()" slot="start"></ion-radio>
          <ion-label>{{sobremesas[0].nome}}: R$ {{sobremesas[0].valor}}</ion-label>
          <ion-img src="assets/img/pudim.jpg"></ion-img>
        </ion-item>

        <ion-item>
          <ion-radio (click)="getSorvete(); abrirModal()" slot="start"></ion-radio>
          <ion-label>{{sobremesas[1].nome}}: R$ {{sobremesas[1].valor}}</ion-label>
          <ion-img src="assets/img/sorvete.jpg"></ion-img>
        </ion-item>


        <ion-item>
          <ion-radio (click)="getMousse(); abrirModal()" slot="start"></ion-radio>
          <ion-label>{{sobremesas[2].nome}}: R$ {{sobremesas[2].valor}}</ion-label>
          <ion-img src="assets/img/mousse.jpg"></ion-img>
        </ion-item>

        <ion-item>
          <ion-radio (click)="getGelatina(); abrirModal()" slot="start"></ion-radio>
          <ion-label>{{sobremesas[3].nome}}: R$ {{sobremesas[3].valor}}</ion-label>
          <ion-img src="assets/img/gelatina.jpg"></ion-img>
        </ion-item>

        <ion-item>
          <ion-radio (click)="getSagu(); abrirModal()" slot="start"></ion-radio>
          <ion-label>{{sobremesas[4].nome}}: R$ {{sobremesas[4].valor}}</ion-label>
          <ion-img src="assets/img/sagu.jpeg"></ion-img>
        </ion-item>
      </ion-radio-group>
  </ion-list>

  <ion-button color="danger" href="/home">
    <ion-icon name="arrow-undo-outline">
    </ion-icon>
    Voltar
  </ion-button>
</ion-content>
