<ion-header>
  <ion-toolbar color="danger">
    <ion-title><b>Bebidas</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-radio-group>
        <ion-item>
          <ion-radio (click)="getSuco(); abrirModal()" slot="start"></ion-radio>
          <ion-label>{{bebidas[0].nome}}: R$ {{bebidas[0].valor}}</ion-label>
          <ion-img src="assets/img/suco.jpg"></ion-img>
        </ion-item>

        <ion-item>
          <ion-radio (click)="getRefrigerantes(); abrirModal()" slot="start"></ion-radio>
          <ion-label>{{bebidas[1].nome}}: R$ {{bebidas[1].valor}}</ion-label>
          <ion-img src="assets/img/refri.jpeg"></ion-img>
        </ion-item>


        <ion-item>
          <ion-radio (click)="getAgua(); abrirModal()" slot="start"></ion-radio>
          <ion-label>{{bebidas[2].nome}}: R$ {{bebidas[2].valor}}</ion-label>
          <ion-img src="assets/img/agua.webp"></ion-img>
        </ion-item>

        <ion-item>
          <ion-radio (click)="getCerveja(); abrirModal()" slot="start"></ion-radio>
          <ion-label>{{bebidas[3].nome}}: R$ {{bebidas[3].valor}}</ion-label>
          <ion-img src="assets/img/cerveja.webp"></ion-img>
        </ion-item>

        <ion-item>
          <ion-radio (click)="getVinho(); abrirModal()" slot="start"></ion-radio>
          <ion-label>{{bebidas[4].nome}}: R$ {{bebidas[4].valor}}</ion-label>
          <ion-img src="assets/img/vinho.jpg"></ion-img>
        </ion-item>
      </ion-radio-group>
  </ion-list>

  <ion-button color="danger" href="/home">
    <ion-icon name="arrow-undo-outline">
    </ion-icon>
    Voltar
  </ion-button>
</ion-content>
