.container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

ion-img {
  width: 70%;
  margin: auto;
  display: block;
}

ion-button {
  color: white;
}