#container {
  text-align: center;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 60%;
  transform: translateY(-50%);
  display: flex;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-button {
  height: 82px;
  width: 82px;
}

#pratoBtn {
  height: 35px;
  width: 300px;
}

#card { 
  text-align: center;
}

#ofertaImg {
  width: 20%;
  margin: auto;
  display: block;
}

h1{
  position: relative;
  text-align: center;
  top: 50px
}